/* Meyer's CSS Reset */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* START OF STYLING */

/* Fonts */
@font-face {
  font-family: 'lato';
  src: url('../fonts/Lato-Regular.ttf');
}

@font-face {
  font-family: 'playfair';
  src: url('../fonts/PlayfairDisplay.ttf');
}

/* HTML and Body */

html {
	scroll-behavior: smooth;
	height: 100%;
}

body {
	font-family: 'lato', Fallback, sans-serif;
	color: #fff;
	height: 100%;
}

/* Default text styles */

h1 {
	font-size: 3em;
	color: #fff;
	text-shadow: 1px 1px #000;
}

h2 {
	font-size: 2em;
	text-shadow: 1px 1px #000;
}

h3 {
	font-size: 1.2em;
}

p {
	line-height: 2.5em;
}

/* Animations */
@keyframes arrow-bounce {
	0% {bottom: 0vh}
	50% {bottom: 10vh}
	100% {bottom: 0vh}
}


DETAILS[open] SUMMARY ~ * 
{
 animation: sweep .5s ease-in-out;
}

@keyframes sweep 
{
 0%    {opacity: 0; margin-left: -10px}
 100%  {opacity: 1; margin-left: 0px}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


/* Main container */
#main-container {
	position: relative;
	width: 100%;
	text-align: left;
}

/* Semantic tags */

footer {
	text-align: center;
	background-color: #212121;
	width: 100%;
	padding: 2em 0 2em 0;
}

/* Sections */

#hero {
  height: 100vh;
	background-image: url(../images/hero.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50%;
	font-family: 'playfair', Fallback, serif;
}
	#hero h1 {
		position: relative;
		/*vertical align*/
	top: 50%;
	transform: 			translateY(-50%);
		text-align: center;
		margin-right: auto;
		margin-left: auto;
	}

#banner-cosmo {
  	width: 100%;
  	height: 50vh;
	background-image: url(../images/banners/cosmo.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50%;
}

#decades {
  background-color: #fff;
}
	#decades img {
		width: 100%;
	}

#gallery {
	background: url(../images/interests.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50%;
}

#reason {
	background: #2196F3;
}

.content-bg {
	background: #2196F3;
}

#contact {
	background: #757575;
}
	#contact .header-background {
	background-color: #212121;
	}

.banner {
	line-height: 0;
}
	.banner img {
	width: 100%;
	}

	.banner h2 {
		text-align: center;
		margin-right: auto;
		margin-left: auto;
		font-family: 'playfair', Fallback, serif;
	}

/* Divs */

.wrapper {
	display: inline-block;
	margin: 2em;

}
	.wrapper p {;
		text-align: justify;
			
	}

.wrapper-body {
	width: 100%;
}
	.wrapper-body .header-background {
		background: #fff;
	}

		.wrapper-body .header-background h3 {
			text-align: left;
			color: grey;
		}


.header-background {
	box-sizing: border-box;
	background-color: #1976D2;
	width: 100%;
	text-align: center;
	padding: 2em;
}
#btn-scroll {
	margin: 0 auto;
	position: absolute;
	bottom: 0;
	width: 20%;
	left: 40%;
	animation-name: arrow-bounce;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	opacity: 0.5;
}

.article-wrapper {
	line-height: 0;
}

/* Articles*/
 summary::-webkit-details-marker {
 color: #00ACF3;
 font-size: 125%;
 margin-right: 2px;

}
summary:focus {
	outline-style: none;
}

summary {
	padding-left: 1em;
	padding-right: 1em;
}

article {
	background-color: #212121;
	line-height: 3em;
	color: #757575;

}


article > details > summary {
	padding: 1em;
}
details > p {
	background-color: #BDBDBD;
	color: white;
	padding: 2em;
	line-height: 2em;
	text-align: justify;
	box-shadow: inset 0 1px 3px grey; 

}
details details {
	margin-left: 36px;
}
details details summary {
	font-size: 16px;

}

/* Media Queries */

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .header-background {
		float: right;
		padding: 3vh;
		width: 75%;
		text-align: center;
	}

	.content-bg {
		float: right;
	}

	.banner {
		float: left;
		width: 50%;
		min-height: 500px;
	}
		.banner img {
			position: relative;
		}

	.another-test {
		width: 50%;
		min-height: 500px;
	}

	.article-wrapper {

	}
		.article-wrapper img {
			float: left;
			width: 50%;
		}

		.article-wrapper article {
			float: right;
			width: 50%;
		}

	.wrapper-body .header-background {
		width: 100%;
	}

	#decades img {
		width: 50%;
	}

	#banner-cosmo {
	float: left;
  	height: 500px;
  	width: 50%;
	background-image: url(../images/banners/cosmo.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50%;
	font-family: 'playfair', Fallback, serif;
}
}

/* Image Gallery */
/* Hides the images by default*/
.mySlides {
	display:none
}

/* Slideshow container */
.slideshow-container {
	background-color: #000;
  position: relative;
  margin: auto;
  line-height: 0;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}